.vp-tag-v4c2 {
  --vp-tag-color: #6aa1b7;
  --vp-tag-hover-color: #5086a1;
  --vp-tag-bg: rgba(131, 208, 218, 0.314);
}
.vp-tag-ri9f {
  --vp-tag-color: #d5393e;
  --vp-tag-hover-color: #b8272c;
  --vp-tag-bg: rgba(244, 63, 94, 0.14);
}
.vp-tag-nh51 {
  --vp-tag-color: #7e4cc9;
  --vp-tag-hover-color: #6f42c1;
  --vp-tag-bg: rgba(159, 122, 234, 0.14);
}
.vp-tag-j2b3 {
  --vp-tag-color: #fab10f;
  --vp-tag-hover-color: #f39c12;
  --vp-tag-bg: rgba(255, 213, 0, 0.14);
}
.vp-tag-0147 {
  --vp-tag-color: #cc9933;
  --vp-tag-hover-color: #be7f3f;
  --vp-tag-bg: rgba(161, 107, 54, 0.2);
}
.vp-tag-oogn {
  --vp-tag-color: #9966cc;
  --vp-tag-hover-color: #7171b8;
  --vp-tag-bg: rgba(83, 83, 167, 0.14);
}
.vp-tag-9ndj {
  --vp-tag-color: #66cccc;
  --vp-tag-hover-color: #3fbebe;
  --vp-tag-bg: rgba(54, 161, 161, 0.14);
}
.vp-tag-cxh3 {
  --vp-tag-color: #3366cc;
  --vp-tag-hover-color: #5680d5;
  --vp-tag-bg: rgba(102, 140, 217, 0.14);
}
.vp-tag-rf0x {
  --vp-tag-color: #a6623b;
  --vp-tag-hover-color: #c17950;
  --vp-tag-bg: rgba(199, 134, 97, 0.2411);
}
